
body{
    /* font-family: 'Special Elite', cursive; */
    padding: 50px;
    font-family: 'Merriweather', serif;
    background-color:#f0f0f0;
}

.sect{
    padding: 25px;
}

.tal{
    text-align: left;
}
.tac{
	text-align: center;
}

.table{
    margin-bottom: 4rem;
}
